/* Variables */
$sidebar-width: 200px;

#sidebar-wrapper {
	width: 0;
	position: fixed;
	top: 0;
	z-index: 100;
	height: 100%;
	overflow-y: auto;
	overflow-x: auto;
	background-color: $secondary;

	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	-ms-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;

	&.open {
		width: $sidebar-width;
	}

	.close-btn {
		cursor: pointer;
		padding-left: 85px;
		padding-top: 25px;
		color: $primary;
	}

	.sidebar-nav {
		list-style: none;
		margin: 70px 0 0 0;
		padding: 0;

		li {
			line-height: 40px;
			text-indent: 25px;
			font-size: 16px;

			a {
				display: block;
				text-decoration: none;

				&:hover, &:focus {
					background-color: $primary;
				}
			}
		}
	}
}