/* Variables */
$sidebar-width: 200px;

#sidebar-wrapper {
	width: $sidebar-width;
	position: fixed;
	top: 0;
	z-index: 100;
	height: 100%;
	overflow-y: auto;
	background-color: $secondary;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;

	.sidebar-nav {
		width: $sidebar-width;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			line-height: 40px;
			text-indent: 25px;

			&.sidebar-brand {
				height: 65px;
				font-size: 18px;
			}

			a {
				display: block;
				text-decoration: none;

				&:hover, &:focus {
					background-color: rgba($primary, 0.4);
				}
			}
		}
	}
}